/* ======================== GOOGLE FONTS ========================== */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* ======================== VARIABLES ========================== */
:root {
  --dark1: #2c3333;
  --dark2: #395b64;
  --light1: #a5c9ca;
  --light2: #e7f6f2;
  --red: #fc0e49;

  --transition: all 300ms ease-in-out;
}

/* ======================== GLOBAL STYLES ========================== */
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.content {
  padding: 5rem 10rem 10rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--light2);
}
/* ======================== GOOGLE FONTS ========================== */
.sidebar {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #242529;
}

.logo-container {
  margin: 2rem 0 0;
  width: 10rem;
  height: 4rem;
  position: relative;
}
.logo-container:after {
  content: " ";
  width: 100%;
  height: 7px;
  background-color: var(--light2);
  position: absolute;
  bottom: -2rem;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 7px solid var(--light2);
  border-left: 7px solid var(--light2);
  border-right: 7px solid var(--light2);
}

.logo a {
  font-size: 2rem;
  font-weight: 600;
  font-family: "Clicker Script", cursive;
  color: var(--red);
}

.logo small {
  text-transform: uppercase;
  color: var(--light2);
}
.links-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.links-container span {
  width: 100%;
  padding: 0 1rem;
}
.link-btn {
  padding: 1.2rem 0;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  color: #f1f1f1;
}
.socials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials a {
  padding: 10px;
}

.socials a i {
  color: var(--light2);
  font-size: 2rem;
  transition: var(--transition);
}
.socials a:hover i {
  color: var(--red);
}
/* ======================== MAIN CONTAINER ========================== */
.main {
  background-color: #2d2f33;
  width: 80%;
  position: relative;
}
/* ======================== MAIN CONTENT FONTS ========================== */
.main-content {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: none;
}
/* ======================== HOME SECTION ========================== */
.content.home {
  display: grid;
  grid-template-columns: 60% 40%;
  color: var(--light2);
}
.info {
  display: flex;
  flex-direction: column;
}
.info h2 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
}
.info h1 {
  font-family: "Clicker Script", cursive;
  font-size: 4rem;
  color: var(--red);
  padding: 2rem 0;
}
.info h3 {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
}
.info h3 span {
  color: var(--red);
}
.info p {
  padding: 1.5rem 0;
  line-height: 2rem;
  font-size: 1.2rem;
}
/* ========================  BUTTONS ========================== */
.btn-container {
  display: flex;
  margin-bottom: 2rem;
}
.btn-container button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.6rem 2rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: var(--light1);
  font-weight: 500;
  cursor: pointer;
  border: 1px solid var(--red);
  background-color: var(--red);
  transition: var(--transition);
}
.btn-container button:hover {
  background-color: transparent;
}
/* Img/icon */
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  /* border: 5px solid var(--red); */
}

.img-container i {
  font-size: 20rem;
  color: var(--light2);
}
/* ======================== ABOUT SECTION ============================ */

.title {
  color: var(--red);
  position: relative;
}
.title::after {
  content: " ";
  width: 10rem;
  height: 5px;
  background-color: var(--red);
  border-radius: 1px;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}
.about h3 {
  padding: 2rem 0 0;
  font-size: 2rem;
  font-weight: 500;
}
.about h3 span {
  color: var(--red);
}

.about p {
  padding: 1rem 0;
  font-size: 1rem;
  width: 70%;
  line-height: 2rem;
}
.about-info {
  display: grid;
  grid-template-columns: 60% auto;
}
.personal-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 0 3rem;
}
.item {
  border-bottom: 1px solid var(--light2);
  margin: 0 2rem 0 0;
  padding: 1rem 0;
}
.item h3 {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0;
}
.item small {
  font-size: 1rem;
}
.item small a {
  color: var(--light2);
  font-size: 1rem;
}
.skills-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progress {
  width: 100%;
}

.bar {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background-color: var(--light2);
  position: relative;
  overflow: hidden;
}

.skill-bar .bar span {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  height: 100%;
  background-color: var(--red);

  animation-name: animateBar;
  animation-duration: 2s;
}

@keyframes animateBar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.skill-bar .bar.html span {
  width: 90%;
}
.skill-bar .bar.css span {
  width: 70%;
}
.skill-bar .bar.bootstrap span {
  width: 30%;
}
.skill-bar .bar.javascript span {
  width: 15%;
}

/* ======================== SERVICES SECTION ============================ */
.services-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.services-item {
  padding: 4rem 1rem;
  margin: 3rem 1rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: var(--light2);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}

.icon-container {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.icon-container i {
  font-size: 2rem;
  transition: var(--transition);
}
.services-item:hover .icon-container {
  background-color: var(--red);
}
.services-item:hover i {
  transform: scale(0.9);
}
.services-item h3 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  padding: 2rem 0 1rem;
  color: var(--red);
}
.services-item p {
  padding: 0 1rem;
  font-size: 1rem;
}

/* ======================== PROJECTS SECTION ============================ */
.projects-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.projects-item {
  margin: 3rem 1rem 1rem;
  padding: 1rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: var(--light2);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  /* transition: var(--transition); */
  overflow: hidden;
  position: relative;
}
.project-img-container {
  width: 100%;
}
.project-img-container img {
  display: block;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: var(--transition);
}
.project-img-container:hover img {
  filter: none;
  -webkit-filter: grayscale(0);
}
.link-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0;
  background-color: #2d2f33;
}

.link-container a i {
  font-size: 1rem;
  color: var(--red);
}
/* ======================== CONTACT SECTION ============================ */

.contact h3 {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0.7rem;
  color: var(--red);
}

.contact-info {
  display: grid;
  width: 100%;
  padding: 3rem 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-item i {
  font-size: 2rem;
  color: var(--red);
  padding: 0 0 2rem;
}
.contact-item h4 {
  font-size: 1rem;
  color: var(--light2);
  font-weight: 500;
}

.message {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.message h4 {
  text-align: center;
  font-weight: 400;
}

.form-item {
  display: flex;
  width: 100%;
  margin: 1rem 0;
}
.form-item input:focus,
.form-item textarea:focus {
  border: 1px solid var(--red);
}
.form-item .row {
  width: 50%;
}
.form-item .row:first-child {
  margin-right: 1rem;
}
.form-item input,
textarea {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background-color: #fff;
  border: 1px solid var(--light);
}
.form-item textarea {
  resize: none;
  min-height: 10rem;
}

/* ======================== JS RELATED SECTION ============================ */
.main-content.active {
  display: block;
}
.link-btn.active {
  background-color: #2d2f33;
  color: var(--red);
}
/* ======================== NAV BTN SECTION ============================ */
.nav-btn-container {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 99;
  visibility: hidden;
}
.nav-btn-container button {
  padding: 0.4rem;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.nav-btn-container button span i {
  font-size: 2rem;
  display: inline-block;
  color: var(--red);
}
.close-btn {
  display: none;
}

/* ======================== MEDIA QUERIES SECTION ============================ */

@media (max-width: 1600px) {
  .logo-container {
    margin: 2rem 0 0;
    width: 8rem;
  }
  .content {
    padding: 5rem;
  }
  .info h2 {
    font-size: 1.3rem;
  }
  .info h1 {
    font-size: 3rem;
  }
  .info h3 {
    font-size: 3rem;
  }
  .info p {
    line-height: 1.7rem;
    font-size: 1.1rem;
  }
}
@media (max-width: 1400px) {
  .services-item {
    padding: 1rem;
    margin: 3rem 1rem;
  }
}
@media (max-width: 1200px) {
  .nav-btn-container {
    visibility: visible;
  }
  .sidebar {
    position: fixed;
    width: 25%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    left: -100%;
    z-index: 99;
    transition: var(--transition);
  }
  .sidebar.active {
    left: 0;
  }
  /* .sidebar {
    width: 0;
  }
  .sidebar.active {
    width: 20%;
  } */
  .nav-btn.active .close-btn {
    display: inline-block;
  }
  .nav-btn.active .open-btn {
    display: none;
  }
  .main {
    width: 100%;
  }
  .container {
    grid-template-columns: 18% auto;
  }
  .socials {
    padding: 0 10rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .socials a {
    padding: 0.4rem;
    text-align: center;
  }

  .services-content {
    grid-template-columns: 1fr 1fr;
  }
  .services-item {
    margin: 3rem 1rem;
  }
  .about-info {
    display: grid;
    grid-template-columns: 1fr;
  }
  .personal-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 3rem;
  }
  .skills-container {
    padding: 0;
  }
  .skill-bar {
    padding: 1rem 0;
  }
  .content.about .btn-container .link {
    margin: 2rem 0 5rem;
  }
}

@media (max-width: 1000px) {
  .content {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 2rem 0.7rem 2rem;
  }
  .sidebar {
    width: 30%;
  }
  .content.home .img-container i {
    font-size: 20rem;
    color: var(--light2);
    margin-bottom: 5rem;
  }
  .content.home {
    grid-template-columns: 1fr;
  }
  .services-content {
    grid-template-columns: 1fr;
  }
  .services-item {
    margin: 1rem;
  }
  .projects-content {
    grid-template-columns: 1fr;
  }
  .projects-item {
    margin: 1rem;
  }
  /*  */
  .content {
    padding: 2rem;
  }
  .info {
    width: 80vw;
  }
  .info h1 {
    font-size: 3rem;
  }
  .info h3 {
    font-size: 2.5rem;
  }
  .content.about p {
    width: 100%;
  }
  .content.services {
    padding: 0.5rem;
  }
  .services-item:last-child {
    margin-bottom: 5rem;
  }
  .content.project {
    padding: 0;
  }
  .projects-item:first-child {
    margin-top: 3rem;
  }
  .projects-item:last-child {
    margin-bottom: 3rem;
  }
  .content.contact h3 {
    font-size: 1.4rem;
  }
  .contact-info {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .content {
    padding: 2rem 0.7rem 2rem;
  }
  .sidebar {
    width: 50%;
  }
  .logo-container {
    width: 7rem;
  }
  .links-container a {
    font-size: 1rem;
  }
  .content.home .img-container i {
    display: none;
  }
  .content.about .personal-info {
    grid-template-columns: 1fr;
    padding: 0 0 3rem;
  }
  .services-content {
    grid-template-columns: 1fr;
  }
  .services-item {
    margin: 1rem;
  }
  .projects-content {
    grid-template-columns: 1fr;
  }
  .projects-item {
    margin: 1rem;
  }
  .contact-info {
    grid-template-columns: 1fr 1fr;
  }
  .contact-item {
    margin: 1rem;
  }

  .contact-item i {
    font-size: 1.5rem;
    padding: 0 0 1rem;
  }

  .form-item {
    flex-direction: column;
  }
  .form-item .row {
    width: 100%;
    margin: 0.5rem 0;
  }
  .form-item .row:first-child {
    margin-right: 0;
  }
}
/* @media (max-width: 450px) {
  .content {
    padding: 2rem;
  }
  .info {
    width: 80vw;
  }
  .info h1 {
    font-size: 3rem;
  }
  .info h3 {
    font-size: 2.5rem;
  }
  .content.about p {
    width: 100%;
  }
  .content.services {
    padding: 0.5rem;
  }
  .services-item:last-child {
    margin-bottom: 5rem;
  }
  .content.project {
    padding: 0;
  }
  .projects-item:first-child {
    margin-top: 3rem;
  }
  .projects-item:last-child {
    margin-bottom: 3rem;
  }
  .content.contact h3 {
    font-size: 1.4rem;
  }
  .contact-info {
    padding: 0;
  }
} */
